form.todo.col-md-6.col-offset-md-3
    .input-group
        input(type="text", placeholder="New Task...").todo__input
        span.input-group-btn
            input(type="button", value="Add Task").todo__button.button_add
        ul.todoList
        ul.todoList.todoList_deleted
