doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='todo', content='width=device-width, initial-scale=1')
        script(defer src='./input.js')
        link(href='style.css')
        title ToDo
    body.page
        include ../blocks/input/input.pug
